.login_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 590px;
  min-height: 450px;
  max-height: fit-content;
  border: 1px solid black;
  border-radius: 4px;
  padding: 60px;
  background-color: white;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_title {
  font-size: 24px;
  font-weight: 400;
}
