.homework03_page_wrapper {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 40, 76);
}