.feedback_wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  background-color: white;
}

.left_column_button {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons_container {
  display: flex;
  width: 150px;
  gap: 20px;
  align-items: center;
}

.like_count,
.dislike_count {
  min-width: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.right_column_button {
  width: 170px;
}
